<h1>All Episodes</h1>


<h3><%= link_to "<=Click here to create a new Appearance and Rate NOW! =|", new_appearance_path %></h3>
<h3><%= link_to "<=Or Click here to see all Guests =|", guests_path %></h3>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode_path(episode.id)%></li>
  <% end %>
</ul>

<h3><%= link_to "<=Click here to create a new Appearance and Rate NOW! =|", new_appearance_path %></h3>
<h3><%= link_to "<=Or Click here to see all Guests =|", guests_path %></h3>